.title{
    height: 80px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    /* background-color: blue; */
}
.tabs{
    display: flex;
    padding-left: 10px;
    
}
.tab{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}


.tab-active{
    color: #009270;
}

.tab-active{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

.tab-active > hr{
    margin-top: 7px;
    border: 2px solid #017258;
}

.body-container-2 > hr{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}
.table-tabs{
    display: flex;
    padding-left: 5px;
}

.table-tab{
    width: fit-content;
    padding: 1px 15px;
    background-color: #CFE0DB;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 13px;
}
.table-tab-active{
    width: fit-content;
    padding: 1px 15px;
    background-color: #009270;
    color: white;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 13px;
}

.table-box-1{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.tablee{
    background-color: rgb(117, 14, 14);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

.table-head{
    display: flex;
    height: 40px;
    background-color: #E3E6E3;
}