*{
    box-sizing: border-box;
}
.table-tabs{
    display: flex;
    padding-left: 5px;
    width: 95%;
}

.table-tab{
    width: fit-content;
    padding: 1px 15px;
    background-color: #CFE0DB;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 13px;
}
.table-tab-active{
    width: fit-content;
    padding: 1px 15px;
    background-color: #009270;
    color: white;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 13px;
}

.table-box-1{
    background-color: white;
    padding-bottom: 15px;
    width:90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tablee{
    background-color: white;
    /* margin-left: 20px;
    margin-right: 20px; */
    margin-top: 15px;
    width: 95%;
    /* padding: 20px; */
}
.tablee > hr{
    width: 100%;
}

.table-head{
    display: flex;
    height: 40px;
    width: 100%;
    background-color: #4a4a4a;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.col-3-1{
    width: 15%;
    /* background-color: aqua; */
}

.col-3-2{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    align-items: center;
    /* background-color: chocolate; */
}
.col-3-3{
    width: 20%;
    /* background-color: rgb(51, 210, 30); */
}

.table-row{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}
.table-row > .col-3-2{
    font-weight: 700;
}

.row-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 30px;
}