.row-player-dashboard-g-1{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.column-player-dashboard-g-1{
    width: 29%;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 7px 10px #888888;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}