.SessionDetails-content{
    width: 95%;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: white;
}

.SessionDetails-inn-box{
    width: 100%;
    height: 100%;
    border: 2px solid #E3E6E3;
    border-radius: 10px;
    padding-top: 30px;
}

.SessionDetails-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SessionDetails-row-up{
    width: 90%;
    height: 30px;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
}
.SessionDetails-row-down{
    width: 80%;
    height: 40px;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    display: flex;
    color: #777777;

}

.s-r-d-left{
    width: 120px;
}


.SessionDetails-inn-box > .match-box-down{
    padding-right: 20px;
    margin-bottom: 20px;
}