*{
    box-sizing: border-box;
}
.body-container-1{
    height: calc(100vh - 80px);
    width: 100vw;
    /* background-color: blue; */
    display: flex;
}
.navbar-container{
    min-width:fit-content;
    width: 250px;
    height: 100%;
    background-color: aqua;
}

.body-container-2{
    width: calc(100vw - 250px);
    background-color: #E3E6E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 25px;
    overflow-y: auto;
}