/* .react-calendar{
    box-shadow: 1px 1px 10px #a0a096;
    border-radius: 10px;
} */
.calander-G-G{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    box-shadow: 1px 1px 10px #a0a096;
    border-radius: 10px;
}

