/* .form-container {
    width: 90%;
    margin-left: 5%;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    
}

.form-container-1 {
    width: 100%;    
    height: 58vh;
}


.form-container-2 h4 {
    font-weight: bolder;
    display: flex;
    justify-content: flex-start;
}

form-container-3-1 h6 {
    background-color: blue;
    font-weight: bold;
} */

.M3-main-container {
    width: 100%;
    /* margin-left: 5%; */
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.M3-main-container-1 {
    width: 100%;    
    /* height: 58vh; */
}
.M3-main-container-3-1-G{
    /* background-color: aqua; */
}
.M3-G-1{
    width: 30%;
    text-align: left;
}
.M3-G{
    width: 70%;
    text-align: left;
}

.M3-main-container-2 h4 {
    font-weight: bolder;
    display: flex;
    justify-content: flex-start;
}

.ppppp{
    justify-content: flex-start;
    color: red;
    padding-left: 120px;
}

.M3-main-container-3-1 h6 {
    color: blue;
    font-weight: bold;
}

/* .M3-main-container-2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
} */