.main-container {
    width: 90%;
    margin-left: 5%;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.main-container-1 {
    width: 100%;    
    height: 58vh;
}

.main-container-2 {
    width: 100%;
    height: 5vh;
    background-color: rgb(66, 62, 62);
    /* padding: 10px; */
}

.main-container-2-left {
    display: flex;
    justify-content: flex-start;
    font-size: larger;
    font-weight: bold;
    margin-left: 10px;
    color: #fff;
}

.main-container-2-right {

    display: flex;
    justify-content: flex-end;
    font-size: larger;
    font-weight: bold;
    margin-right: 10px;
    color: #fff;

}
